<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>驳回历史</title>
    <!--<script src="js/vue.js"></script>-->
    <!--vue-->
    <script src="/vue/vue.js"></script>
    <!--axios.min.js-->
    <script src="/vue/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/element/index.css">
    <!-- 引入组件库 -->
    <script src="/element/index.js"></script>
</head>
<body>
<div id="app">
    <el-row>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="boi_id"
                    label="驳回编号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="ba_zhanghao"
                    label="用户姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="bu_username"
                    label="管理员"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="bci_id"
                    label="公司id"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="bci_name"
                    label="公司名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="reason"
                    label="驳回理由"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="rejettime"
                    label="驳回时间"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="phase"
                    label="驳回状态"
                    :formatter="formatter"
                    width="180">
            </el-table-column>
        </el-table>
    </el-row>
    <el-row>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[2,3,10,15]"
                :page-size="6"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </el-row>
</div>
<script>
    var app;
    app = new Vue({
        el: '#app',
        data: {
            tableData: [],
            form:{empNo:'',job:'',deptNo:'',bli_id:0},
            currentPage:1,
            pageSize:6,
            total:300,
            title:'1',
            dialogFormVisible:false,
            formLabelWidth:"120px",
            formOpt:{bci_name:"",bs_state:"",bdi_name:"",bdi_tel:0,bci_email:0},
            requestURL:'',
            options:[],
        },
        created: function () {
            this.loadData();
        },

        methods: {
            loadData: function () {
                var self = this;//代表Vue对象
                //计算开始值
                var start = (this.currentPage - 1) * this.pageSize;
                //计算结束值
                var end = this.currentPage * this.pageSize + 1;
                //self.form.push("start",start);
                //self.form.push("end",end);
                var searchForm = {"start": start, "end": end};
                axios.post('/pageC', searchForm).then(function (response) {
                    console.log(response);
                    console.log(response.data);
                    //获取后台json赋值给tableData
                    self.tableData = response.data.borrowMonies;
                    self.total = response.data.aMap;
                    //JSON.stringify 把json对象转换为json字符串
                    //JSON.parse   把son字符串转换为json对象
                    // var empList = JSON.stringify(response.data);
                    //console.log(empList);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            handleSizeChange: function (val) {//每页显示数量改变时触发
                console.log("每页" + val + "条");
                this.pageSize = val;
                this.loadData();
            },
            handleCurrentChange: function (val) {//第几页发生变化时触发
                console.log("当前页: " + val);
                this.currentPage = val;
                this.loadData();
            },
            handleEdit: function (index, row) {
                this.title = "详细信息";
                this.requestURL = "/rejectList";
                this.formOpt = row;
                this.dialogFormVisible = true;
                console.log(index, row);

            },
            formatter: function (row, phase) {
                var msg = "";
                if (row.phase == 1) {
                    msg = "贷款审核时被驳回";
                }else if(row.phase == 2){
                    msg = "公司审核时被驳回";
                }
                return msg;
            }
        }
    });
</script>
</body>
</html>
