<!DOCTYPE html>
<html dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>首页-index.html</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/components.css?ver=142682356" rel="stylesheet" />
    <link href="/css/main.css?ver=142682356" rel="stylesheet" />
    <link href="/css/new-home.css?ver=142682356" rel="stylesheet" />
    <link href="/css/css.css" rel="stylesheet" type="text/css" />


    <script src="/js/jquery-1.11.0.min.js"></script>



</head>
<body>
<div class="wrapper ">

    <!--引入头部-->
    <div id="head"></div>
    <!--引入头部-->


    <!--content-->
    <div class="new-home-wrapper">
        <div class="home-page-container ng-scope" ng-controller="HomeCtrl">


            <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="1000" height="380" valign="middle"><img src="/images/banner.jpg" width="1000" height="340" /></td>
                </tr>
            </table>
            <table width="1000" border="0" align="center" cellpadding="15" cellspacing="0" class="bk_e4e4e4">
                <tr>
                    <td width="1000" valign="middle" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="15">
                        <tr>
                            <td width="60%" align="left" class="bkdhx font_24">微小企业无抵押产品</td>
                            <td width="40%" align="right" class="bkdhx font_14">咨询电话：<span class="fotn_c69000">021-60487648</span></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="font_14">
                                <tr>
                                    <td height="30" colspan="2" align="left" class="font_18 fotn_c69000"><strong>月综合费率最低1.9%左右，收费标准始终如一</strong></td>
                                </tr>
                                <tr>
                                    <td width="56%" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="4%" align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td width="96%" align="left">注册满一年</td>
                                        </tr>
                                        <tr>
                                            <td align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td align="left">借款人征信良好</td>
                                        </tr>
                                        <tr>
                                            <td align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td align="left">个人或公司流水月平均10万以上</td>
                                        </tr>
                                    </table></td>
                                    <td width="44%" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="4%" align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td width="96%" align="left">月息1.9%左右</td>
                                        </tr>
                                        <tr>
                                            <td align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td align="left">额度8万-10万</td>
                                        </tr>
                                        <tr>
                                            <td align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td align="left">有房可加额度</td>
                                        </tr>
                                    </table></td>
                                </tr>
                            </table></td>
                            <td align="left"><img src="/images/pro_30.jpg" width="389" height="168" /></td>
                        </tr>
                    </table></td>
                </tr>
            </table>

            <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="1000" height="20" valign="middle"></td>
                </tr>
            </table>
            <table width="1000" border="0" align="center" cellpadding="15" cellspacing="0" class="bk_e4e4e4">
                <tr>
                    <td width="1000" valign="middle" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="15">
                        <tr>
                            <td width="60%" align="left" class="bkdhx font_24">微小企业抵押产品</td>
                            <td width="40%" align="right" class="bkdhx font_14">咨询电话：<span class="fotn_c69000">021-60487648</span></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="font_14">
                                <tr>
                                    <td height="30" colspan="2" align="left" class="font_18 fotn_c69000"><strong>周转资金就在你的身边--松俊投资</strong></td>
                                </tr>
                                <tr>
                                    <td width="56%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="4%" align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td width="96%" align="left">借款人为公司法人或股东</td>
                                        </tr>
                                        <tr>
                                            <td align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td align="left">注册满一年，征信良好</td>
                                        </tr>
                                        <tr>
                                            <td align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td align="left">房子为清房（里面无贷款）</td>
                                        </tr>
                                    </table></td>
                                    <td width="44%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="4%" align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td width="96%" align="left">年化利息8%左右</td>
                                        </tr>
                                        <tr>
                                            <td align="left"><img src="/images/pro_33.jpg" width="14" height="14" /></td>
                                            <td align="left">额度50万-500万</td>
                                        </tr>
                                    </table></td>
                                </tr>
                            </table></td>
                            <td align="left"><img src="/images/pro_07.jpg" width="435" height="178" /></td>
                        </tr>
                    </table></td>
                </tr>
            </table>

            <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="1000" height="20" valign="middle"></td>
                </tr>
            </table>

            <div class="row advertise-words-row">
                <h3 class="text-center">关于我们</h3>
                <div class="text-center tech-words">
                    在这里了解更多点融资讯，我们将帮您解决问题，倾听意见反馈。
                </div>
            </div>
            <div class="row about-us-row about-us-first">
                <div class="col-xs-4 first">
                    <div class="dr-info introduce">
                        <div class="about-us-header">
                            点融是谁
                        </div>
                        <div class="leads-img">
                        </div>
                        <div class="company-introduce">
                            <span>点融网是一家总部位于上海的本土高科技网</span>
                            <span>络金融服务公司。通过国内资深团队的运作</span>
                            <span>和引进全球最大网络借贷平台的先进技术和</span>
                            <span>管理经验。</span>
                            <div class="text-right introduce-more">
                                <a href="/public/about#/company">更多&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 second">
                    <div class="dr-info partner">
                        <div class="about-us-header header-second">
                            合作伙伴
                        </div>
                        <div class="partner-logo north-light"></div>
                        <div class="partner-logo szb"></div>
                        <div class="partner-logo ney"></div>
                        <div class="partner-logo orient"></div>
                        <div class="text-right more-detail partner-more">
                            <a href="/public/about#/partner">更多&gt;</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 third">
                    <div class="dr-info report">
                        <div class="about-us-header header-third">
                            媒体报道
                        </div>
                        <div class="media-wrapper">
                            <div>
                                <ul class="list-unstyled news-list">
                                    <li class="row ng-scope" ng-repeat="post in posts">
                                        <div class="news-content col-xs-8">
                                            <h6 class="news-date ng-binding">
                                                2014 10/13
                                                <span class="dot"></span>
                                            </h6>
                                            <h3>
                                                <a class="ng-binding" ng-bind="post.title" href="/blog/szyh">银行和P2P平台首次“结盟”：苏州银行和点融网宣布...</a>
                                            </h3>
                                        </div>
                                        <div class="news-img pull-right">
                                            <img  src="/images/bsz.jpg">
                                        </div>
                                    </li>
                                    <li class="row ng-scope" ng-repeat="post in posts">
                                        <div class="news-content col-xs-8">
                                            <h6 class="news-date ng-binding">
                                                2014 10/10
                                                <span class="dot"></span>
                                            </h6>
                                            <h3>
                                                <a class="ng-binding" ng-bind="post.title" href="/blog/ljz">郭宇航：P2P———技术与商业模式的新浪潮</a>
                                            </h3>
                                        </div>
                                        <div class="news-img pull-right">
                                            <img src="/images/gyh.jpg">
                                        </div>
                                    </li>
                                    <li class="row ng-scope" ng-repeat="post in posts">
                                        <div class="news-content col-xs-8">
                                            <h6 class="news-date ng-binding">
                                                2014 10/8
                                                <span class="dot"></span>
                                            </h6>
                                            <h3>
                                                <a class="ng-binding" ng-bind="post.title" href="/blog/hcgzf">"红筹之父"梁伯韬先生加入点融网董事会</a>
                                            </h3>
                                        </div>
                                        <div class="news-img pull-right">
                                            <img  src="/images/hczf.jpg">
                                        </div>
                                        <i class="li-dot ng-scope" ng-if="$last"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-right more-detail">
                            <a href="/public/about#/media">更多&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row about-us-row">
                <div class="col-xs-4 first">
                    <div class="dr-info introduce honor">
                        <div class="about-us-header">
                            点融荣誉
                        </div>
                        <div class="awards-img"></div>
                        <div class="company-introduce">
                            <span>点融网被美国最大的P2P研究机构Lend</span>
                            <span>Academy评为“中国最重要的P2P网贷公</span>
                            <span>司”之一；先后获得老虎基金投资，新鸿基</span>
                            <span>集团战略投资，以及北极光创投注资。</span>
                            <div class="text-right">
                                <a href="/public/about#/news" target="_blank">更多&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 second">
                    <div class="dr-info user-voice">
                        <div class="about-us-header header-second">
                            用户反馈
                        </div>
                        <div class="text-center">
                            <p class="borrower-img"></p>
                            <p class="person-borrower">投资人</p>
                            <p class="borrower-name">胡小姐</p>
                        </div>
                        <div class="quote-container">
                            <blockquote class="quote">
                                <p>白领一族的我平时也懒得看如何投资理财，以前主要通过阶梯式储蓄法来抵抗通胀。不过自从有了团团赚，我都不去银行定存了，因为团团赚的新手团利率就比银行高好多，而且流动性也不错... </p>
                                <span class="quote-end"></span>
                            </blockquote>
                        </div>
                        <div class="text-right more-voice">
                            <a href="mailto:support@dianrong.com">给我们反馈&gt;</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 third">
                    <div class="dr-info help-center">
                        <div class="about-us-header header-third">
                            <span class="question">帮助中心</span>
                        </div>
                        <div class="faq">
                            <a href="help.html"><span class="sl-icon-bold-column icon"></span><span class="question">什么是点融网</span></a>
                        </div>
                        <div class="faq">
                            <a href="help.html"><span class="sl-icon-bold-right-arrow icon"></span><span class="question">为什么选择点融网</span></a>
                        </div>
                        <div class="faq">
                            <a href="help.html"><span class="sl-icon-bold-spark icon"></span><span class="question">点融网投资流程</span></a>
                        </div>
                        <div class="faq">
                            <a href="help.html"><span class="sl-icon-bold-pen icon"></span><span class="question">使用及操作</span></a>
                        </div>
                        <div class="faq">
                            <a href="help.html"><span class="sl-icon-bold-lock icon"></span><span class="question">信息和资金安全</span></a>
                        </div>
                        <div class="faq">
                            <a href="help.html"><span class="sl-icon-bold-paper icon"></span><span class="question">政策法规</span></a>
                        </div>
                        <div class="faq">
                            <a href="help.html"><span class="sl-icon-bold-star icon"></span><span class="question">常见问题</span></a>
                        </div>
                        <div class="text-right more-detail">
                            <a href="help.html">更多&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row advertise-words-row">
                <h3 class="text-center">媒体评价</h3>
                <div class="text-center tech-words">
                    更客观真实的第三方评价，进一步了解点融网。
                </div>
            </div>
            <div class="row media-report-row">
                <div class="col-xs-4 report">
                    <a href="http://www.dianrong.com/blog/dian-rong-wang-lian-yi-zhe-jiang-da-xue-zhe-shang-zong-cai-gao-ji-yan-xiu-ban" target="_blank">
                        <div class="author text-center">
                            <span class="logo media-gemag-logo">环球企业网</span>
                        </div>
                        <blockquote class="quote">
                            <p>苏海德是LendingClub的技术总裁以及联合创始人，也曾经是甲骨文的高级管理人员之一。因此，在点融网创立之后，苏亦应邀担任了点融网的联合创始人。<span class="quote-end"></span> </p>
                        </blockquote> </a>
                </div>
                <div class="col-xs-4 report report-fc">
                    <a href="http://www.dianrong.com/blog/dian-rong-wang-chuang-shi-ren-jiang-jiao-yi-quan-jiao-huan-gei-jie-dai-zhe" target="_blank">
                        <div class="author text-center">
                            <span class="logo media-fc-logo">福布斯中国</span>
                        </div>
                        <blockquote class="quote">
                            <p>郭宇航与苏海德想做的是单纯的交易平台，他们认为交易的选择权应该交给资金真正的拥有者和使用者。 点融网的优势在于技术。<span class="quote-end"></span></p>
                        </blockquote> </a>
                </div>
                <div class="col-xs-4 report report-cbh">
                    <a href="http://www.dianrong.com/blog/zhuan-fang-lending-club-dian-rong-wang-lian-he-chuang-shi-ren-su-hai-de-hu-lian-wang-jin-rong-xu-yao-you-xiao-jian-guan" target="_blank">
                        <div class="author text-center">
                            <span class="logo media-21cbh-logo">21世纪经济网</span>
                        </div>
                        <blockquote class="quote">
                            <p>...更重要的是，这位曾经开发出Lending Club平台系统的前CTO，花费两年多的时间，又给中国市场量身定制了一套全新的信审系统。<span class="quote-end"></span></p>
                        </blockquote> </a>
                </div>
            </div>
        </div>
    </div>
    <!--中部-->

    <!--引入底部-->
    <div id="last"></div>
    <!--引入底部-->


</div>
</body>
</html>
<!--引入外部页面-->
<script>
    $("#head").load("head.html");
    $("#last").load("last.html");
</script>
<!--引入外部页面-->