<!DOCTYPE html>
<html dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>登录账号-login.html</title>
    <!--页面框架样式-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/components.css?ver=142682356" rel="stylesheet" />
    <link href="/css/main.css?ver=142682356" rel="stylesheet" />
    <link href="/css/new-home.css?ver=142682356" rel="stylesheet" />

    <script src="/js/jquery-1.11.0.min.js"></script>

</head>
<body>
<div class="wrapper login">

    <!--引入头部-->
    <div id="head"></div>
    <!--引入头部-->



    <!--引入底部-->
    <div id="last"></div>
    <!--引入底部-->

</div>
</body>
</html>

<!--引入外部页面-->
<script>
    $("#head").load("head.html");
    $("#last").load("last.html");
</script>
<!--引入外部页面-->

